* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding: 50px;
  max-width: 1280px;
  margin: 0 auto;
}

.MuiTableCell-root.MuiTableCell-head {
  background-color: #595959;
  color: #fff;
}
.ticker_cell {
  background-color: #f7e7d4;
  position: relative;
}

.arrow {
  color: #ff0000;
  position: absolute;
  left: 5%;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
}
